# Database
PG_HOST=postgres
PG_PORT=5432
PG_DB=votely
PG_USER=votely
PG_PASSWORD=votely

# Security (change in production!)
HASH_SECRET=your-super-secret-key-min-32-chars
# SMTP (optional - for email authentication)
# Leave empty to use dev mode (code returned in API response)
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=re_DUEv59iR_4Md5qiBKqNxFMn6VaBiBsri6
SMTP_FROM=noreply@example.com
