RewriteEngine On

# API запросы -> api.php
RewriteRule ^api/v1(.*)$ api.php [QSA,L]

# Статические файлы и директории пропускаем
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Остальное -> index.php
RewriteRule ^ index.php [L]

