RewriteEngine On

# Единая защищенная точка входа в админку
RewriteRule ^admin\.html$ admin.php [L]

# Статические файлы и директории пропускаем
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Остальное -> index.php
RewriteRule ^ index.php [L]
